@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

$nunito: 'Source Sans Pro', Nunito, Arial, sans-serif;
$lora: 'Source Sans Pro', Lora, Arial, sans-serif;
$greyWithOpacity_01: rgba(128, 128, 128, 0.1);
$greyWithOpacity_04: rgba(128, 128, 128, 0.4);

* {
  font-family: $lora;
}

.main {
  user-select: none;
}

.mat-elevation-z8 {
  margin-top: 23px;

  h1 {
    font-size: 20px;
    padding: 20px 0 10px 30px;
  }
}

.blur {
  filter: blur(5px);
}

table {
  padding: 5px 20px 0 20px;

  th {
    font-weight: bold;
    color: black;
    font-family: $lora;
  }

  td {
    font-family: $lora;
    padding-top: 5px;
  }
}

img {
  width: 50px;
  border: 1px solid grey;
  border-radius: 30px;
}

hr {
  margin: 0 20px;
  height: 1px;
  background-color: #35302D;
  border: none;
}

.table-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 25px 20px;
}

button {
  background-color: #F87839;
  border-radius: 1px;
  height: 45px;
}


