<div class="main" [class]="isDelete || isResetPassword? 'blur': ''">
  <div class="container">
    <div class="header">
      <img [class]="user ? 'dn': ''"
           src="../assets/icons/add-user.png" alt="add-user">
      <img [class]="!isEdit ? 'dn': ''"
           src="../assets/icons/edit-user.png" alt="edit-user">
      <div class="img-del">
        <img [class]="!isEdit ? 'dn': ''"
             src="../assets/icons/user-delete.png" alt="edit-user" (click)="isDelete = !isDelete">
      </div>

      <h2>{{ titleForm }}</h2>
    </div>

    <hr>
    <form [formGroup]="form">
      <div class="container-form">
        <div class="left-block">
          <div class="row">
            <div class="input-field col s6">
              <input id="lastName" type="text" formControlName="lastName">
              <label class="active" for="lastName">Фамилия</label>
            </div>
            <span *ngIf="form.get('lastName').hasError('required') && form.get('lastName').touched"
            >*Введите фамилию
                    </span>
            <span *ngIf="form.get('lastName').hasError('minlength') && form.get('lastName').touched"
            >*Не менее 3х символов
                    </span>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="firstName" type="text" formControlName="firstName">
              <label class="active" for="firstName">Имя</label>
              <span *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched"
              >*Введите имя
              </span>
              <span *ngIf="form.get('firstName').hasError('minlength') && form.get('firstName').touched"
              >*Не менее 3х символов
              </span>
            </div>
          </div>

          <div>
            <div class="row">
              <div class="input-field col s6">
                <input id="login" type="text" formControlName="login">
                <label class="active" for="login">Логин</label>
              </div>
              <span *ngIf="form.get('login').hasError('required') && form.get('login').touched"
              >*Придумайте логин
                    </span>
              <span *ngIf="form.get('login').hasError('minlength') && form.get('login').touched"
              >*Не менее 3х символов
              </span>
            </div>
          </div>
        </div>

        <div class="right-block">

          <mat-form-field>
            <mat-label>Должность</mat-label>
            <mat-select formControlName="post">
              <mat-option [value]="post.title" *ngFor="let post of posts">{{ post.title }}</mat-option>
            </mat-select>
            <mat-hint
              *ngIf="form.get('post').hasError('required') && form.get('post').touched"
            >Выберите должность*
            </mat-hint>
          </mat-form-field>

          <div class="list-hotels" *ngIf="isEdit">
            <label>Список гостиниц</label>
            <mat-form-field>
              <mat-label>{{hotels.length > 0 ? hotels[0].title : 'Список пуст'}}<span class="example-additional-selection" *ngIf="hotels.length > 1">
                   (еще {{ hotels.length - 1 }})
                   </span></mat-label>
              <mat-select>
                <mat-option *ngFor="let hotel of hotels">{{ hotel.title }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="phone" type="number" formControlName="phone">
              <label class="active" for="phone">Телефон</label>
            </div>
            <span *ngIf="form.get('phone').hasError('required') && form.get('phone').touched"
            >*Введите номер телефона без "+7"
            </span>
            <span *ngIf="form.get('phone').hasError('max') || form.get('phone').hasError('min') && form.get('phone').touched"
            >*Введите номер в формате - 9XX XXX XX XX <br>
              *Сейчас: {{form.get('phone').value.toString().length}}
              </span>
          </div>

          <div *ngIf="!params">
            <div class="row">
              <div class="input-field col s6">
                <input id="password" type="password" formControlName="password">
                <label class="active" for="password">Пароль</label>
              </div>
              <span *ngIf="form.get('password').hasError('required') && form.get('password').touched"
              >*Придумайте пароль
                    </span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button
          class="btn-cancel" extended="" mat-fab
          (click)="openUsersPage()"
          [disabled]="form.disabled"
        >
          Отмена
        </button>
        <button
          type="submit"
          class="btn-save" extended="" mat-fab
          (click)="onSubmit()"
          [disabled]="form.disabled"
        >
          Сохранить
        </button>
        <div class="btn-delete" *ngIf="isEdit">
          <div *ngIf="params" class="btn-reset-password">
            <button
              extended="" mat-fab
              (click)="generateFormPassword()"
              [disabled]="form.disabled"
            >
              Сменить пароль
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="container-del" *ngIf="isDelete">
  <h2>Удалить сотрудника?</h2>
  <h3>"{{ user.lastName + ' ' + user.firstName }}"</h3>
  <div class="input-block">

    <div class="btn-group-del">
      <button
        class="btn-cancel" extended="" mat-fab
        (click)="isDelete = false"
      >
        Нет
      </button>
      <button
        type="submit"
        class="btn-save" extended="" mat-fab
        (click)="delete()"
      >
        Да
      </button>
    </div>
  </div>
</div>


<!--Reset-form-->

<div class="container-reset-password" *ngIf="isResetPassword">
  <h2>Смена пароля</h2>
  <form [formGroup]="formPassword">
    <div class="input-block">
      <div>
        <div class="row">
          <div class="input-field col s6">
            <input id="reset-password" type="password" formControlName="password">
            <label class="active" for="reset-password">Новый пароль*</label>
          </div>
        </div>
        <span *ngIf="formPassword.get('password').hasError('required') && formPassword.get('password').touched"
        >*Придумайте пароль
                    </span>
      </div>

      <div>
        <div class="row">
          <div class="input-field col s6">
            <input id="reset-password2" type="password" formControlName="checkPassword">
            <label class="active" for="reset-password2">Подтверждение пароля*</label>
          </div>
        </div>
        <span *ngIf="formPassword.get('checkPassword').hasError('required') && formPassword.get('checkPassword').touched"
        >*Подтвердите пароль
                    </span>
      </div>


      <div class="btn-group-del">
        <button
          class="btn-cancel" extended="" mat-fab
          (click)="isResetPassword = false"
        >
          Отмена
        </button>
        <button
          type="submit"
          class="btn-save" extended="" mat-fab
          (click)="resetPassword()"
          [disabled]="this.formPassword.invalid"
        >
          Сохранить
        </button>
      </div>
    </div>
  </form>
</div>

<!--Reset-form-->

