$nunito: 'Source Sans Pro', Nunito, Arial, sans-serif;
$lora: 'Source Sans Pro', Lora, Arial, sans-serif;
$greyWithOpacity_01: rgba(128, 128, 128, 0.1);
$greyWithOpacity_04: rgba(128, 128, 128, 0.4);

* {
  font-family: $lora
}

.container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 8%;
  left: 35%;
  width: 50vh;
  border: 1px solid seagreen;
  background-color: white;
  padding: 45px 0 30px 0;
}

h2 {
  color: #3C3735;
}

.container-form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 350px;
}

mat-form-field {
  margin-bottom: 11px;
}

mat-hint {
  font-size: 11px;
  color: red;
}

.input-floors {
  border-radius: 5px;
  background-color: $greyWithOpacity_01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 0 0 15px 30px;
  width: 280px;

  span {
    color: rgba(0, 0, 0, 0.85);
    padding-right: 2px;
  }
}

.input-floors input {
  width: 35px;
  height: 30px;
  outline: none;
  padding-left: 8px;
  font-size: 15px;
  border: 1px inset $greyWithOpacity_04;
  border-radius: 3px;
}

.input-floors input:focus {
  border: 1px solid royalblue;
}

.input-floors input::-webkit-outer-spin-button,
.input-floors input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.input-rooms input {
  width: 50px;
  height: 30px;
  outline: none;
  padding: 0 5px;
  font-size: 15px;
  border: 1px inset $greyWithOpacity_04;
}

.error-input input {
  border: 1px solid red;
}

.error-span {
  font-size: 12px;
  color: red;
}

hr {
  outline: none;
  border: 0.5px solid $greyWithOpacity_04;
}

.img-block {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px 5px 10px 5px;
}

.span-title {

}

.img-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  span {
    color: green;
    font-size: 13px;
    font-weight: bold;
  }
}

.dn {
  display: none;
}

.btn-img {
  background-color: #F87839;
  margin-top: 20px;
  height: 35px;
  padding: 0 10px;
  width: 35%;
}

.btn-group {
  width: 210px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.btn-group button {
  margin-top: 20px;
  height: 35px;
  padding: 0 10px;
  border-radius: 1px;
}

.btn-cancel {
  background-color: brown;
  width: 100px;
}

.btn-save {
  background-color: seagreen;
  width: 100px;
}
