<!--Table-->
<div class="main">
  <div [class]="showTemplate? 'blur' : ''">
    <div class="mat-elevation-z8">
      <h1>Пользователи</h1>

      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef> #</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Имя пользователя</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Post Column -->
        <ng-container matColumnDef="post">
          <th mat-header-cell *matHeaderCellDef> Должность</th>
          <td mat-cell *matCellDef="let element"> {{element.post}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Телефон</th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Hotel Column -->
        <ng-container matColumnDef="hotel">
          <th mat-header-cell *matHeaderCellDef> Гостиница</th>
          <td mat-cell *matCellDef="let element"> {{element.hotel}} </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Действие</th>
          <td mat-cell *matCellDef="let element"> {{element.edit}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <hr>
      <div class="table-bottom">
        <button
          class="btn" extended="" mat-fab
          (click)="toggleBtn()"
          [disabled]="showTemplate"
        >
          Добавить
        </button>
        <mat-paginator [pageSizeOptions]="[4, 20]"
                       showFirstLastButtons
                       aria-label="">
        </mat-paginator>
      </div>
    </div>
  </div>
  <!--Table-->
  <div [class]="showTemplate? 'blur':'' ">
    <div class="table-posts">
      <app-groups-page></app-groups-page>
    </div>
  </div>

</div>

<!--Form-->

<div class="main" *ngIf="showTemplate">
  <div class="container">
    <h2>Новый пользователь</h2>
    <hr>
    <form action="form">
      <div class="container-form">
        <div class="left-block">

          <mat-form-field class="input-single">
            <mat-label>Фамилия</mat-label>
            <input type="text" matInput>
            <!--            <mat-hint>Errors appear instantly!</mat-hint>-->
            <!--            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {-->
            <!--            <mat-error>Please enter a valid email address</mat-error>-->
            <!--            }-->
            <!--            @if (emailFormControl.hasError('required')) {-->
            <!--            <mat-error>Email is <strong>required</strong></mat-error>-->
            <!--            }-->
          </mat-form-field>

          <mat-form-field class="input-single">
            <mat-label>Имя</mat-label>
            <input type="text" matInput>
            <!--            <mat-hint>Errors appear instantly!</mat-hint>-->
            <!--            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {-->
            <!--            <mat-error>Please enter a valid email address</mat-error>-->
            <!--            }-->
            <!--            @if (emailFormControl.hasError('required')) {-->
            <!--            <mat-error>Email is <strong>required</strong></mat-error>-->
            <!--            }-->
          </mat-form-field>

          <mat-form-field class="input-single">
            <mat-label>Телефон</mat-label>
            <input type="number" matInput>
            <!--            <mat-hint>Errors appear instantly!</mat-hint>-->
            <!--            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {-->
            <!--            <mat-error>Please enter a valid email address</mat-error>-->
            <!--            }-->
            <!--            @if (emailFormControl.hasError('required')) {-->
            <!--            <mat-error>Email is <strong>required</strong></mat-error>-->
            <!--            }-->
          </mat-form-field>

        </div>

        <div class="right-block">

          <mat-form-field>
            <mat-label>Должность</mat-label>
            <mat-select>
              <mat-option [value]="post" *ngFor="let post of posts">{{post}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Гостиницы</mat-label>
            <mat-select [formControl]="hotels" multiple>
              <mat-select-trigger>
                {{hotels.value?.[0] || ''}}
                <span class="example-additional-selection" *ngIf="((hotels.value?.length || 0) > 1)">
                   (еще {{(hotels.value?.length || 0) - 1}} )
                   </span>
              </mat-select-trigger>
              <mat-option *ngFor="let hotel of hotelsList" [value]="hotel">{{hotel}}</mat-option>

            </mat-select>
          </mat-form-field>

          <!--            <mat-form-field>-->
          <!--              <mat-label>Группа</mat-label>-->
          <!--              <mat-select>-->
          <!--                <mat-option value="administrator">Администратор</mat-option>-->
          <!--                <mat-option value="default">Обычный пользователь</mat-option>-->
          <!--              </mat-select>-->
          <!--            </mat-form-field>-->
        </div>
      </div>
      <div class="btn-group">
        <button
          class="btn-cancel" extended="" mat-fab
          (click)="toggleBtn()"
        >
          Отмена
        </button>
        <button
          type="submit"
          class="btn-save" extended="" mat-fab
        >
          Сохранить
        </button>
      </div>

    </form>

  </div>
</div>

<!--Form-->
