<div class="container">
  <div class="sidebar" role="banner">
    <img src="../assets/images/logo.png" alt="">
    <h1 class="title">
      Hotel Management
      <!--      <h3>{{activeUser}}</h3>-->
      <hr>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="list-hover-slide">
          <li><a routerLink="/">Dashboard</a></li>
          <li><a routerLink="/">Гостиницы</a></li>
          <li><a routerLink="/">Пользователи</a></li>
          <li><a routerLink="/">Группы</a></li>
          <li><a>Выйти</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!--  <div class="container-right">-->
  <!--    <div class="header">-->
  <!--      <h1 class="title">-->
  <!--        <a href="#">Hotel <span>Management</span></a>-->
  <!--      </h1>-->
  <!--    </div>-->
  <!--  </div>-->
</div>

