<div class="container">
  <div class="sidebar" role="banner">
    <div class="logo-container">
      <img src="../assets/images/logo.png" alt="">
      <h1 class="title">
        Hotel Management
        <!--      <h3>{{activeUser}}</h3>-->
        <hr>
      </h1>
    </div>

    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="list-hover-slide">
          <li><a routerLink="/da">Dashboard</a></li>
          <li><a routerLink="/admin/hotels" [queryParams]="{page: 'hotels'}">Гостиницы</a></li>
          <li><a routerLink="/admin/houses" [queryParams]="{page: 'houses'}">Дома</a></li>
          <li><a routerLink="/admin/users" [queryParams]="{page: 'users'}" >Сотрудники</a></li>
<!--          <li><a routerLink="/admin/groups" [queryParams]="{page: 'groups'}">Группы</a></li>-->
          <li><a routerLink="/">Выйти</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container-right">
    <div class="container-right-title">
    </div>
    <div *ngIf="title == 'hotels'">
      <app-hotels-list-page></app-hotels-list-page>
    </div>
    <div *ngIf="title == 'new-hotel'">
      <app-hotel-create-page></app-hotel-create-page>
    </div>
    <div *ngIf="title == 'houses'">
      <app-houses-list></app-houses-list>
    </div>
    <div *ngIf="title == 'users'">
      <app-users-page></app-users-page>
    </div>
    <div *ngIf="title == 'Группы'">
      <app-posts-page></app-posts-page>
    </div>
  </div>
</div>
