@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

$nunito: 'Source Sans Pro', Nunito, Arial, sans-serif;
$lora: 'Source Sans Pro', Lora, Arial, sans-serif;
$greyWithOpacity_09: rgba(128, 128, 128, 0.9);

* {
  font-family: $lora;
}

.blur {
  filter: blur(5px);
}

.mat-elevation-z8 {
  width: 41h;

  h1 {
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    padding: 20px 0 10px 30px;
  }
}

table {
  user-select: none;
  padding: 5px 20px 3px 20px;

  th {
    text-align: center;
    padding: 5px 3vh;
    font-weight: bold;
    color: black;
  }
  td {
    text-align: center;
    padding: 5px 3vh;
    color: black;
  }

  img {
    cursor: pointer;
  }
}

hr {
  margin: 0 20px;
  height: 1px;
  background-color: #35302D;
  border: none;
}

.table-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 35px 20px;
}

button {
  background-color: #F87839;
  border-radius: 1px;
  height: 45px;
}

/////////////////////////Form//////////////////////

.container {
  user-select: none;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10%;
  left: 40%;
  width: 50vh;
  border: 1px solid seagreen;
  background-color: white;
  padding: 45px 0 40px 0;
}

h2 {
  color: #3C3735;
}

h3 {
  color: #F87839;
}

.input-block {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    padding-left: 10px;
    width: 40px;
  }
}

.input-single {
  margin-top: 25px;
}

mat-hint {
  font-size: 11px;
  color: red;
}

.empty-block {
  padding: 30px 0;
  font-size: 15px;

  p {
    padding: 0 50px;
    text-align: center;
    color: $greyWithOpacity_09;
  }
}

.btn-group {
  width: 210px;
  display: flex;
  justify-content: space-between;
}

.btn-group button {
  margin-top: 20px;
  height: 35px;
  padding: 0 10px;
  border-radius: 1px;
}

.btn-cancel {
  background-color: brown;
  width: 100px;
}

.btn-save {
  background-color: seagreen;
  width: 100px;
}

.alert{
  background-color: palevioletred;
}
