<div class="login_page">
  <img src="./assets/images/login_page_bg.jpg" alt="image" class="login_page_image">
  <div class="form_container">
    <div class="login_form">
      <div class="logo">
        <img src="./assets/images/logo2.png" alt="logo">
      </div>

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <h2>HOTEL MANAGEMENT</h2>

        <mat-form-field class="input_box">
          <mat-label class="label">Логин</mat-label>
          <input formControlName="login" matInput>
          <mat-error>
            *Введите логин
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input_box">
          <mat-label>Пароль</mat-label>
          <input formControlName="password" matInput type="password">
          <mat-error>
            *Пароль не может быть менее 6 символов
          </mat-error>
        </mat-form-field>

        <button
          class="input_box btn" extended="" mat-fab
          type="submit">

          Войти
        </button>
      </form>
    </div>
  </div>
</div>
