///* Import Google font - Poppins */
//@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
body {
  margin: 0;
  padding: 0;
}

.login_page {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.login_page_image {
  height: 100vh;
  width: 55vw;
  border-right: 15px solid #F57C23;
  object-fit: cover;
}

.form_container {
  display: flex;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  padding: 20px 30px 30px 30px;
  border-radius: 12px;
  box-shadow: 0 0 25px -22px #333;
  background-color: #f5f5f5;
}

.logo img {
  padding-left: 48px;
  width: 185px;
}

.form_container h2 {
  font-size: 18px;
  color: #F57C23;
  text-align: center;
  font-family: 'Lora', serif;
  margin-bottom: 10px;
}

.input_box {
  width: 100%;
}

.form_container .button {
  background: #F57C23;
  color: white;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 20px;
}

 .mat-mdc-form-field{
  --mdc-filled-text-field-focus-active-indicator-color:  #F57C23;
  --mdc-filled-text-field-focus-label-text-color:  #F57C23;
}

 .mat-mdc-fab.mat-warn{
   --mdc-fab-container-color: #F57C23;
   margin-bottom: 10px;
 }

 .button{
 }



