<!--Table-->
<div class="main" *ngIf="isAdmin">
    <div [class]="showTemplate? 'blur' : ''">
        <div class="mat-elevation-z8">
            <h1>Дома</h1>
            <hr>
            <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> #</th>
                    <td mat-cell *matCellDef="let house">{{ house.position }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Название</th>
                    <td mat-cell *matCellDef="let house"> {{ house.title }}</td>
                </ng-container>

                <!-- Post Column -->
                <ng-container matColumnDef="floors">
                    <th mat-header-cell *matHeaderCellDef> Количество этажей</th>
                    <td mat-cell *matCellDef="let house"> {{ house.floors }}</td>
                </ng-container>

                <!-- Personal Column -->
                <ng-container matColumnDef="personal">
                    <th mat-header-cell *matHeaderCellDef> Горничная</th>
                    <td mat-cell *matCellDef="let house"> {{house.personal.length > 1 ? house.personal[0] + ' ( еще '+ (house.personal.length - 1) + ')': house.personal}}</td>
                </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Действие</th>
                    <td mat-cell *matCellDef="let house">
                        <img (click)=" openHousePage(house)"
                             src="../assets/icons/edit.png" alt="edit">
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            </table>
            <div *ngIf="houses.length == 0"
                 class="empty-block">
                <p>Добавьте первый дом...</p>
            </div>
            <hr>
            <div class="table-bottom">
                <button class="btn" extended="" mat-fab
                        (click)="openHousePage()"

                >
                    Добавить
                </button>
                <mat-paginator [pageSizeOptions]="[10, 20]"
                               showFirstLastButtons
                               aria-label="">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!isAdmin" >
  <div class="header">
    <h2>Дома</h2>
    <hr>
  </div>
    <div class="cards">
        <div class="card-item" *ngFor="let house of houses">
            <div class="img-block">
                <img [ngSrc]="house.imgSrc" alt="image" fill="" >
            </div>
            <div class="title-block">
                <div>
                    <span>"{{ house.title }}"</span>
                </div>
            </div>
        </div>
    </div>
</div>
